version: '3'

services:
  application:
    build:
      context: .
      dockerfile: docker/Dockerfile-local
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: /var/www/html/init-local.sh
    volumes:
      - ./:/var/www/html
    ports:
      - 80:80
