@font-face {
    font-family: GothamLight;
    src: url("../fonts/gothamlight.svg") format("svg"),
        url("../fonts/gothamlight.ttf") format("truetype");
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: GothamLight!important;
}

.clear {
    clear: both;
}

h1 {
    font-family: GothamLight!important;
    font-weight: 700;
}

h2 {
    font-weight: bold;
}


[class^="hvr-"] {
    margin: .4em;
    padding: 15px 40px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #000000;
    color: #666;
    text-decoration: none!important;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.mobile-overflow {
    overflow: hidden;
}

.nowrap {
    white-space: nowrap;
    width: 1px;
}









.main-section {
    position: relative;
    height: 75vh;
    width: 100%;
    color: #FFF;
    overflow: hidden;
}

.main-section.main-section-offhome {
    height: auto;
    background-color: #26262a;
}

.main-section .my-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    /*filter: blur(2px);*/
    background-size: cover;
    background-position: 50% 50%;
    animation-name: slow-zoom;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.main-section .arrow {
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: 3;
    font-size: 50px;
    animation: bounce 2s infinite;
    animation-delay: 4s;
    opacity: 0;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}




.top-bar {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px!important;
}

.top-bar-layout {
    position: relative;
    z-index: 2;
    background-color: rgba(38,38,38,.8);
}

.top-bar .logo {
    float: left;
    padding-left: 50px;
}

.top-bar .logo a {
    color: #FFF;
    text-decoration: none;
}

.top-bar .logo h1 {
    font-size: 50px;
}

.top-bar .logo span {
    font-size: 25px;
    vertical-align: middle;
}

.top-bar .navigation {
    padding-right: 50px;
}

nav.navigation {
    float: right;
}


nav.navigation .language {
    padding: 0px;
}

nav.navigation ul {
    float: right;
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
}

nav.navigation ul li {
    display: inline-block;
}

nav.navigation ul li a {
    display: inline-block;
    padding: 0px 20px;
    color: #FFF;
    text-decoration: none;
    opacity: 0.5;
    font-size: 18px;
    transition: .25s all linear;
}

nav.navigation ul li a:hover {
    opacity: 1;
    font-weight: bold;

}

nav.navigation ul li a.active {
    opacity: 1;
    border-bottom: 1px solid #fff;
    font-weight: bold;
}

nav.navigation ul li a.inactive {
    cursor: default;
    opacity: 0.2;
}

nav.navigation .lang-ul {
    padding-left: 100px;
}

nav.navigation .lang-ul li a {
    padding: 0px 2px;
}

.navigation-mobile {
    display: none;
    float: right;
    padding: 5px 20px;
    cursor: pointer;
}

.navigation-mobile span {
    font-size: 40px;
}

.navigation-mobile-content {
    display: none;
    position: fixed;
    background: #FFF;
    z-index: 4;
    width: 100%;
    min-height: 100%;
}



.close-mobile-navigation {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}

.close-mobile-navigation span {
    font-size: 40px;
    padding: 20px;
    cursor: pointer;
}

.navigation-mobile-content-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.navigation-mobile-content-inner h1 {
    font-size: 80px;
}

.navigation-mobile-content-inner > a {
    color: black;
}

.navigation-mobile-content-inner ul {
    display: inline-block;
    list-style: none;
    padding: 0px;
}

.navigation-mobile-content-inner ul.lang-ul {
    display: block;
}

.navigation-mobile-content-inner ul.lang-ul li {
    display: inline-block;
}
.navigation-mobile-content-inner ul.lang-ul li a {
    font-size: 24px;
    padding: 0px 10px;
}

.navigation-mobile-content-inner ul.lang-ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

.navigation-mobile-content-inner ul.lang-ul li a.inactive {
    opacity: 0.2;
    cursor: default;
}

.navigation-mobile-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #26262a;
    color: #FFF;
    margin: 0px;
    padding: 20px 10px;
    font-style: italic;
    text-align: center;
}


.navigation-mobile-content-inner ul li a {
    font-size: 40px;
    color: black;
}

.navigation-mobile-content-inner ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

.main-section .main-quote {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}


.main-section .main-quote h1 {
    font-size: 80px;
    opacity: 0;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
}

.main-section .main-quote h1.first {
    color: #e55643;
}
.main-section .main-quote h1.second {
    color: #2b9f5e;
}
.main-section .main-quote h1.third {
    color: #f1c83c;
}




.base-section {
    width: 100%;
    padding: 75px 20px;
    text-align: center;
    color: #000000;
}

.base-section .inner {
    max-width: 1000px;
    margin: 0 auto;
}

.base-section-dark {
    background-color: #edeeef;
}

.base-section h1 {
    padding-bottom: 30px;
}

.base-section a {
    display: inline-block;
    margin-top: 30px;
}

.base-section a.link {
    margin-top: 0px;
}

.left-same-column {
    width: 200px;
}

.middle-line {
    padding: 20px 0px;
    width: 100%;
}

.drugs-box span {
    font-size: 75px;
}

.drugs-box h3 {
    margin-top: 25px;
}

.resume-logo {
    height: 150px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(20%);
    transition: .25s linear;
}

.resume-logo:hover {
    filter: grayscale(0%);
}

.resume-logo-space {
    width: 100%;
    padding: 40px 0px;
}

.my-face {
    float: right;
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    width: 270px;
    height: 270px;
}


.my-info {
    float: left;
    padding-top: 30px;
}

.special-line {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.special-line h2 {
    position: relative;
    display: inline-block;
    background: #FFF;
    z-index: 2;
    padding: 10px 40px;
}

.special-line .line {
    position: absolute;
    top: calc(50% - 2px);
    left: 0%;
    width: 100%;
    height: 2px;
    z-index: 1;
    background: #26262a;
}

.base-section.alter-margin {
    padding-top: 0px;
}

.years-column {
    text-align: left;
    width: 170px;
}

.years-column-right {
    text-align: right;
}

.arrow-inner {
    color: black;
    font-size: 30px;
    padding: 20px 0px;
    text-align: center;
}


.gallery-wrapper {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    text-align: center;
}

.gallery-box {
    float: left;
    background-color: grey;
    width: calc(25% - 10px);
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: 50% 50%;
    transition: .25s linear;
}

.gallery-box:hover {
    cursor: pointer;
    background-position: 60% 60%;
}

.table-mobile-show {
    display: none;
}



.ul-tablelized {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.ul-tablelized > li {
    border: 1px solid #dee2e6;
    border-bottom: none;
    padding: .75rem;
}

.ul-tablelized > li:last-child {
    border: 1px solid #dee2e6;
}






section.footer {
    background-color: #26262a;
}

section.footer .footer-inner {
    max-width: 1000px;
    padding: 50px 20px;
    text-align: center;
    margin: 0 auto;
    color: #FFF;
}

section.footer .footer-inner h1 {
    padding-bottom: 40px;
    font-style: italic;
}

section.footer .footer-inner  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

section.footer .footer-inner li {
    display: inline-block;
}

section.footer .footer-inner .menu-review {
    margin-bottom: 14px;
}

section.footer .footer-inner .menu-review li {
    padding: 0px 10px;
}

section.footer .footer-inner .menu-review li a {
    color: #FFF;
    font-size: 18px;
}

section.footer .footer-inner .social-icons li {
    padding: 0px 10px;
}

section.footer .footer-inner .social-icons li a {
    color: #FFF;
    font-size: 32px;
}

section.contact {
    min-height: 75vh;
}

section.contact form {
    width: 75%;
    margin: 0 auto;
    text-align: left;
}

section.contact label {
    text-align: left;
}

section.contact input {
    padding: 12px 12px;
}


/*CODE FROM 3rd PARTIES*/
.hvr-bounce-to-right {
    display: inline-block;
    background: #FFF;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000 ;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: white;
}

.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/* SOME KEYFRAMES */

@keyframes slow-zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    40% {
        -moz-transform: translate(-50%, -10px);
        transform: translate(-50%, -10px);
    }
    60% {
        -moz-transform: translate(-50%, -5px);
        transform: translate(-50%, -5px);
    }
}
@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    40% {
        -webkit-transform: translate(-50%, -10px);
        transform: translate(-50%, -10px);
    }
    60% {
        -webkit-transform: translate(-50%, -5px);
        transform: translate(-50%, -5px);
    }
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    40% {
        -moz-transform: translate(-50%, -10px);
        transform: translate(-50%, -10px);
    }
    60% {
        -moz-transform: translate(-50%, -5px);
        transform: translate(-50%, -5px);
    }
}