@media (max-width: 1100px) {

    .gallery-box {
        width: calc(50% - 10px);
        height: 300px;
    }

    .resume-logo {
        width: 50%;
        margin-bottom: 40px;
    }

    .resume-logo-ubuntu {
        width: 100%;
    }

    .resume-logo-space {
        padding: 0px;
    }

    .navigation-desktop {
        display: none;
    }

    .navigation-mobile {
        display: block;
    }

}

@media (max-width: 800px) {

    .gallery-box {
        width: calc(100% - 10px);
        height: 300px;
    }

    section.contact form {
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }

}

@media (max-width: 700px) {

    .my-face {
        width: 100%;
        background-position: 50% 25%;
    }

    .navigation-mobile-content-inner h1 {
        font-size: 50px;
    }

    .main-section .main-quote h1 {
        font-size: 50px;
    }

    .main-section .arrow {
        font-size: 30px;
    }

    .table-mobile-hidden {
        display: none;
    }

    .table-mobile-show {
        display: block;
    }
    table.table-mobile-show {
        display: table;
    }

}


@media (max-width: 550px) {

    h1 {
        font-size: 26px;
    }

    .main-section .main-quote h1 {
        font-size: 30px;
    }

    section.footer .footer-inner .menu-review li {
        width: 100%;
        padding: 4px 10px;
    }

    .left-same-column {
        width: 135px;
    }

    .resume-logo {
        width: 100%;
    }

    .top-bar .logo h1 {
        font-size: 25px;
        padding-top: 10px;
    }

    .navigation-mobile {
        padding: 0px 20px 20px 0px;
    }

    .top-bar .logo {
        padding-left: 20px;
    }

    .top-bar .navigation {
        padding-right: 20px;
    }

    .top-bar .logo span {
        font-size: 15px;
    }

    .navigation-mobile-content-inner h1 {
        font-size: 30px;
    }

    .navigation-mobile-content-inner ul li a {
        font-size: 22px;
    }

    .navigation-mobile-content-inner ul.lang-ul li a {
        font-size: 18px;
    }

    .navigation-mobile-footer {
        font-size: 20px;
    }
}